
<div class="row">
    <div class="col s12">
        <div class="card-panel">

            <%= link_to(clientes_path, class: "btn-floating waves-effect waves-light red") do %>
                <i class="material-icons">arrow_back</i>
            <% end %>

            <h3>Editar Cliente</h3>

            <%= render 'form', cliente: @cliente %>

        </div>
    </div>
</div>
